{% extends "myshop/base.html" %}
{% block content %}
<div id="chat-log" class="chat-box">
    {% for i in message %}
    {% if i.author == user %}
    {% if not i.is_active %}
    <div style="max-width: 30%;">
        <div class="del-message-cur-user">
            <span class="del-message-text">Вы удалили сообщение</span>
        </div>
    </div>
    {% else %}
    <div id="author-message-{{ i.pk }}" style="max-width: 30%;">
        <div style="margin-bottom: 1px;">
            <button type="button" class="btn btn-light btn-sm" value="{{ i.pk }}" id="update_{{ i.pk }}"
                onclick="updateMessage(this.value)">Update</button>
            <button type="button" class="btn btn-light btn-sm" value="{{ i.pk }}"
                onclick="deleteMessage(this.value)">Delete</button>
            {% if i.created != i.updated %}<small style="font-size: 13px;">Изменено</small>{% endif %}
        </div>
        <div id="message-{{ i.pk }}" class="active-message-cur-user">
            {{ i.message }}
        </div>

    </div>
    {% endif %}
    {% else %}
    {% if not i.is_active %}
    <div class="del-message-other-user">
        <span class="del-message-text">{{ i.author.username }} Удалил сообщение</span>
    </div>
    <br>
    <br>
    {% else %}
    <div style="float:right;">
        {% if i.created != i.updated %}<small style="font-size: 13px;">Изменено</small>{% endif %}
    </div>
    <br>
    <div id="message-{{ i.pk }}" class="active-message-other-user">
        {{ i.message }}
    </div>
    <br>
    <br>
    {% endif %}
    {% endif %}
    {% endfor %}
    <div id="current-message">

    </div>
</div>
<input id="chat-message-input" class="form-control" type="text" placeholder="Default input"
    aria-label="default input example">
<input id="chat-message-submit" type="button" value="Send">
{{ room_name|json_script:"room-name" }}
{{ product|json_script:"current-product" }}
{% endblock %}