{% extends "myshop/base.html" %}

{% block title %} Товар {% endblock %}

{% block content %}


{% include "myshop/_inc/_product.html" %}
<br>
{% if user.is_authenticated %}
<div class="container">
  <div class="row" style="width: 50%;">
    <div class="col-12" id="mark">
      <!--likes here-->
    </div>
    {% if user != product.salesman and not user.is_salesman and can_coment %}
    <br>
    <br>
    <div class="col-12" id="rating">
      <!--rating here-->
    </div>
    {% endif %}
  </div>
</div>
{% endif %}


<br>
{% if not user.is_salesman and user.is_authenticated %}
<button type="submit" class="btn btn-secondary"onclick="window.location.href = '{{ product.get_absolute_url_add_to_favoriteProducts }}'">Добавить в корзину</button>
{% elif not user.is_authenticated %}
<button type="submit" class="btn btn-secondary"onclick="window.location.href = '{% url 'myshop:login' %}'">Чтобы добавлитьтовар в корзину вам нужно зарегестрироваться</button>
{% elif user == product.salesman %}
<div class="container">
  <div class="row" style="float:right;">
    <div class="col-12">
      <a href="{% url 'myshop:delete_product' product.slug%}"><button type="button" class="btn btn-danger">Сделать неактивным</button></a>
      <a href="{% url 'myshop:change_product' product.slug%}"><button type="button" class="btn btn-success">Изменить</button></a>
    </div>
  </div>
</div>
<br>
{% endif %}

{% if not user.is_salesman and can_coment %}
{% include "myshop/_inc/_comentForm.html" %}
{% endif %}

{% if user.is_authenticated %}
<div id="updateComent">
  <!--coment to update coment.js-->
</div>

<br>
<div id="comentList" class="card">
  <!--list of coment coment.js-->
</div 
{% endif %}
{% endblock %}