{% extends "myshop/base.html" %}

{% block title %}Оформление заказа{% endblock %}

{% block content %}

<h1>Оформление заказа</h1>
<br>

<ul class="list-group" id="userData">
    <li class="list-group-item">Компания : {{ salesman.company }}</li>
    <li class="list-group-item">Продавец : {{ salesman.first_name }}  {{ salesman.last_name }}</li>
    <li class="list-group-item" id="name">Покупатель : {{ user.first_name }}  {{ user.last_name }}</li>
    <li class="list-group-item" id="phone">Контактный номер : {{ user.number_of_phone }}</li>
    <li class="list-group-item">Товар : {{ product.name }}</li>
    <li class="list-group-item">Цена : {{ product.price }}</li>
  </ul>

  {% include "myshop/_inc/_ordering_form.html" %}

  <button type="submit" class="btn btn-primary btn-block col-12" id = "changeData" style="margin-top: 5px;">Изменить личные данные</button>
{% endblock %}